* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;

    background: linear-gradient(-45deg,
            #ee7752,
            #e73c7e,
            #23a6d5,
            #23d5ab);

    background-size: 400% 400%;
    animation: gradient 10s ease infinite;

    font-family: Arial, sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.logo {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}

.nav-links a:hover {
    transform: translateY(-3px);
    color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {

    .logo {
        text-align: center;
        font-size: 45px;
        margin-bottom: 15px;
    }

    .nav-links {
        justify-content: center;
        gap: 15px;
    }

    .nav-links a {
        font-size: 18px;
    }
}

.main-title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.sub-title {
    font-size: 80px;
    font-weight: bold;
    color: white;
}

p {
    padding-top: 10%;
    font-size: 20px;
    color: white;
    margin-left: 10%;
}


img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

.contact-form button:hover {
    transform: translateY(-3px);
}

.contact-form button:active {
    transform: translateY(3px);
    background-color: rgba(0, 0, 0, 0.7);
}

a{
    display: flex;
    justify-content: center;
    gap: 20px;
}